* { 
    background-color: #e6eada;
    font-family: arial, tahoma monospace;
    color: #494c51;
}

.header-main {
    text-align: center;
    font-size: 50px;
}

.image {
    width: 750px; height: auto;
    margin: 20px; padding: 14px;
    border-style: double; border-radius: 24px;
}

.content {
    border-style: double; border-radius: 24px;
    margin: 20px; padding: 14px;
 }

.homepage-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    background-color: #989ba0;
    color: #e6eada;
}

