/**/
* {  
    font-family: arial, tahoma monospace;
}

.top-bottom-image {
    text-align: center;
}

.header-main {
    color: #575b61;
    text-align: center;
    font-size: 50px;
}

.recipe-links {
    color: #006cbf;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
